.pydevproject
.python-version
*.simg
*.sif
*~
*.pyc
.DS_Store
*.tar.gz
*.err
*.out
/datasets/*
.vscode/.ropeproject
trained_models
\#*
tcml_config.json
.project
.pydevproject
speech_recognition.egg-info/
.coverage
.idea/
.envrc
.ropeproject
.ModelCheckpoint

venv/
srf-venv/

distillation/lorenzfe/

outputs/

# eclipse
.settings/

# lightning
lightning_logs/

#doc
doc/_build/
nas_results/

#
.python_history
.bash_history
.cache

.nv
.tmp/
tmp/

.torch
type_info.json
*.log
.pytest_cache
.pydevproject
.pyre
_site
build/

experiments/datasets/
