.python-version
*.simg
*~
*.pyc
.DS_Store
*.tar.gz
datasets/speech_commands_v0.02/
datasets/speech_files/
datasets/noise_files/
datasets/vad_data_balanced/
trained_models
\#*
tcml_config.json
.project
.pydevproject
speech_recognition.egg-info/


venv/
srf-venv/

distillation/lorenzfe/

# eclipse
.settings/

# vs code
# .vscode/

# lightning
lightning_logs/



# poetry
srf-poetry/README.rst
srf-poetry/srf_poetry/
srf-poetry/tests/

