[tool.poetry]
name = "hannah"
version = "0.1.0"
description = ""
authors = [
    "Christoph Gerum <christoph.gerum@uni-tuebingen.de>",
    "Adrian Frischknecht <adrian.frischknecht@uni-tuebingen.de>",
    "Felix Lorenz <felix.lorenz@student.uni-tuebingen.de>",
    "Tobias Hald <tobias.hald@student.uni-tuebingen.de>"
]

[tool.poetry.dependencies]
python = ">=3.8 <3.10"
pwlf = "^2.0.0"
gitdb2 = "2.0.6"
chainmap = "^1.0.3"
torch = "1.10.2"
pytorch-lightning = "^1.6.4"
torchaudio = "^0.10.0"
torchvision = "^0.11.0"
SoundFile = "^0.10.3"
zipp = "^3.3.1"
bitstring = "^3.1.7"
wfdb = "^3.2.0"
lightning-bolts = "^0.3.2"
scipy="^1.6.3"
tqdm="^4.60.0"
seaborn="^0.11.2"
pandas="^1.2.4"
hydra-optuna-sweeper = {version = "^1.1.1"}

hydra-core = "^1.1.0"
hydra-joblib-launcher = ">1.1.0"
hydra-submitit-launcher = "^1.2.0"

hannah-optimizer = {path = "plugins/hannah-optimizer", develop=true}
tabulate = "^0.8.3"
GitPython = "^3.1.14"
h5py = "^3.2.1"
sympy = "^1.7.1"
nvsmi = "^0.4.2"
setuptools = "<59.6.0"
libsvm="^3.23.0.4"
fairscale = "^0.4.5"
numpy = "^1.22.2"

# optional dependencies
onnxruntime = {version = "^1.4.0", optional = true}
onnx-tf = {version = "^1.9.0", optional = true}

# Dependencies for vision tasks
imagecorruptions = {version="^1.1.2", optional = true}
timm = {version="^0.4.12", optional = true}
pycocotools = {version="^2.0.2", optional = true}
gdown = {version="^4.4.0", optional = true}
albumentations = {version = "^1.1.0", optional = true}
kornia = {version="^0.6.4", optional=true}
opencv-python = {version="4.5.5.64", optional=true} #FIXME: workaround for version #
opencv-python-headless = {version="4.5.5.64", optional=true}

[tool.poetry.dev-dependencies]
pytest = "^6.2.0"
flake8 = "^3.8.3"
pre_commit = "^2.7.1"
pytest-cov = ">2.10.1"
rope = "^0.19.0"
mypy = "^0.910"
torch-tb-profiler = "^0.2.0"
black = "^22.3.0"
coverage = "^6.3.2"
isort = "^5.10.1"

[tool.poetry.extras]
tf-backend = ["onnx-tf"]
onnxrt-backend = ["onnxruntime"]
vision = ["pycocotools", "albumentations", "imagecorruptions", "timm", "gdown", "opencv-python-headless", "opencv-python"]

[tool.poetry.scripts]
hannah-train = 'hannah.tools.train:main'
hannah-eval = 'hannah.eval:main'
hannah-objectdetection-eval = 'hannah.objectdetection_eval:main'
hannah-nas-eval = "hannah.nas.eval.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.isort]
profile = "black"
