defaults:
    - dataset: kws
    - features: mfcc
    - model: conv-net-trax
    - scheduler: 1cycle
    - optimizer: sgd
    - normalizer: fixedpoint
    - module: stream_classifier
    - trainer: default
    - checkpoint: default
    - backend: null
    - early_stopping: null
    - profiler: null
    - compression: null
    - optional dataset/features: ${dataset}_${features}
    - experiment: null
    - override hydra/job_logging: silent
    - _self_

experiment_id: test
output_dir: trained_models
auto_lr: false
print_metrics: false
data_monitor: false
resume: false

seed: [1234]
validate_output: False

hydra:
    searchpath:
      - file://${oc.env:PWD}/configs
    run:
      dir: ${output_dir}/${experiment_id}/${model.name}/
    sweep:
      dir: ${output_dir}/${experiment_id}/${model.name}/



#TODO:
dump_test: false
input_file: ''
